<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100Coins</key>
	<dict>
		<key>purchaseID</key>
		<string>fbf.iap.add_money</string>
		<key>image</key>
		<string>Store100.png</string>
		<key>cost</key>
		<real>0.99</real>
		<key>coins</key>
		<integer>100</integer>
	</dict>
	<key>500Coins</key>
	<dict>
		<key>purchaseID</key>
		<string>fbf.iap.add_money500</string>
		<key>image</key>
		<string>Store100.png</string>
		<key>cost</key>
		<real>3.99</real>
		<key>coins</key>
		<integer>500</integer>
	</dict>
	<key>1000Coins</key>
	<dict>
		<key>purchaseID</key>
		<string>fbf.iap.add_money1000</string>
		<key>image</key>
		<string>Store100.png</string>
		<key>cost</key>
		<real>6.99</real>
		<key>coins</key>
		<integer>1000</integer>
	</dict>
	<key>RemoveAds</key>
	<dict>
		<key>purchaseID</key>
		<string>fbf.iap.remove_ads</string>
		<key>image</key>
		<string>Store100.png</string>
		<key>cost</key>
		<real>4.99</real>
		<key>coins</key>
		<integer>0</integer>
	</dict>
	<key>SaveLife</key>
	<dict>
		<key>purchaseID</key>
		<string>fbf.iap.save_life</string>
		<key>image</key>
		<string>Store100.png</string>
		<key>cost</key>
		<real>0.99</real>
		<key>coins</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
